---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Rooms from "../components/Rooms.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
---

<Layout title="Sierra Alta Hotel">
  <main>
    <Presentation />
    <Rooms />
    <Services />
    <About
  </main>
</Layout>