---
const images = [
  {
    "thumbnail": "/images/images_hotel/image1.webp",
    "expanded": "/images/images_hotel/image1.webp",
    "alt": "Imagen 1"
  },
  {
    "thumbnail": "/images/images_hotel/image2.webp",
    "expanded": "/images/images_hotel/image2.webp",
    "alt": "Imagen 2"
  },
  {
    "thumbnail": "/images/images_hotel/bath.webp",
    "expanded": "/images/images_hotel/bath.webp",
    "alt": "Imagen 3"
  },
  {
    "thumbnail": "/images/images_hotel/doble.webp",
    "expanded": "/images/images_hotel/doble.webp",
    "alt": "Imagen 4"
  },
  {
    "thumbnail": "/images/images_hotel/matrimonial.webp",
    "expanded": "/images/images_hotel/matrimonial.webp",
    "alt": "Imagen 5"
  }
];
---

<section class="carousel-container">
  <div class="carousel">
    {images.map((image) => (
      <img src={image.expanded} alt={image.alt} />
    ))}
  </div>
</section>

<style>
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
  }
  .carousel {
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .carousel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 0.7s ease;
    border-radius: 10px;
    filter: brightness(75%); /* Añadir sombra inicial */
    height: 100%;
  }
  .carousel img:hover {
    width: 300px;
    opacity: 1;
    filter: brightness(100%); /* Mostrar color original al expandir */
  }

  @media (max-width: 700px) {
    .carousel {
      width: 80%;
      height: 250px; /* Ajustar la altura para pantallas medianas */
    }
    .carousel img:hover {
      width: 200px; /* Ajustar el ancho al expandir en pantallas medianas */
    }
  }

  @media (max-width: 400px) {
    .carousel {
      width: 50%;
      height: 200px; /* Ajustar la altura para dispositivos móviles */
    }
    .carousel img:hover {
      width: 150px; /* Ajustar el ancho al expandir en dispositivos móviles */
    }
  }
</style>