---
import "@fontsource/poiret-one";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="content">
      <slot />
    </div>
    <Footer />
  </body>
  <style is:global>
    :root {
      color-scheme: light;
    }

    /* Estilo del scrollbar */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Estilo de la barra de desplazamiento */
    ::-webkit-scrollbar-thumb {
      background-color: #B4A064;
      border-radius: 999px;
    }

    html {
      font-family: "Poiret One", system-ui, sans-serif;
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 4rem;
    }

    header {
      width: 100vw;
      position: fixed;
      left: 0;
    }
  </style>
</html>
