<header
  id="main-header"
  class="fixed top-0 z-10 flex items-center justify-center w-full transition-colors duration-300 bg-transparent"
>
  <div class="w-full flex justify-center items-center px-4">
    <nav
      class="hidden md:flex justify-center space-x-10 py-4 text-base font-semibold leading-tight text-gray-50"
    >
      <a href="#rooms" class="hover:text-color-primary">Habitaciones</a>
      <a href="#services" class="hover:text-color-primary">Servicios</a>
      <a href="#about" class="hover:text-color-primary">Nosotros</a>
      <a href="#contact" class="hover:text-color-primary">Contacto</a>
    </nav>
    <div class="md:hidden">
      <button id="menuButton" class="text-gray-50 focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="#958452"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
  <div id="mobileMenu" class="hidden md:hidden w-full justify-center">
    <nav
      class="flex flex-col items-center space-y-2 p-4 bg-white text-gray-700"
    >
      <a href="#rooms" class="hover:text-color-primary">Habitaciones</a>
      <a href="#services" class="hover:text-color-primary">Servicios</a>
      <a href="#about" class="hover:text-color-primary">Nosotros</a>
      <a href="#contact" class="hover:text-color-primary">Contacto</a>
    </nav>
  </div>
</header>

<style>
  /* Estilos para el header cuando se hace scroll */
  #main-header.scrolled {
    background-color: rgba(255, 255, 255, 0.98);
    color: #958452; /* Usar color-primary-shadow */
  }

  #main-header.scrolled nav a {
    color: #958452; /* Usar color-primary-shadow */
  }

  #main-header.scrolled nav a:hover {
    color: rgba(0, 0, 0, 0.9);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("main-header");
    const menuButton = document.getElementById("menuButton");
    const mobileMenu = document.getElementById("mobileMenu");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        header.classList.add("scrolled");
      } else {
        header.classList.remove("scrolled");
      }
    });

    menuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });

    // Desplazamiento suave al hacer clic en los enlaces del header
    document.querySelectorAll("nav a").forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        const targetId = this.getAttribute("href").substring(1);
        const targetElement = document.getElementById(targetId);

        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - header.offsetHeight,
            behavior: "smooth",
          });
        }

        if (!mobileMenu.classList.contains("hidden")) {
          mobileMenu.classList.add("hidden");
        }
      });
    });
  });
</script>
