---
const rooms = [
  {
    image: "/images/images_hotel/simple.webp",
    title: "Habitación Simple",
    description:
      "Una habitación cómoda para una persona, con todas las comodidades esenciales para una estancia agradable.",
  },
  {
    image: "/images/images_hotel/doble.webp",
    title: "Habitación Doble",
    description:
      "Espacio ideal para dos personas, con opción de camas separadas o una cama doble, y comodidades modernas.",
  },
  {
    image: "/images/images_hotel/matrimonial.webp",
    title: "Habitación Matrimonial",
    description:
      "Una habitación diseñada para parejas, con una cama matrimonial amplia y un ambiente cálido y acogedor.",
  },
];
---

<section id="rooms" class="rooms-section py-8">
  <div class="container mx-auto">
    <h2
      class="text-4xl text-color-primary-shadow font-bold text-center mt-10 mb-16"
    >
      Nuestras Habitaciones
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-8">
      {
        rooms.map((room) => (
          <div class="room-card bg-white shadow-md rounded-lg overflow-hidden">
            <img
              src={room.image}
              alt={room.title}
              class="w-full h-48 object-cover"
            />
            <div class="p-4">
              <h3 class="text-2xl text-color-primary font-semibold mb-2">
                {room.title}
              </h3>
              <p class="text-lg text-gray-950">{room.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .rooms-section {
    background-color: #f9f9f9;
  }
  .room-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .room-card img {
    transition: transform 0.3s ease;
  }
  .room-card:hover img {
    transform: scale(1.05);
  }
</style>
